Source: ros-kilted-joy-tester
Section: misc
Priority: optional
Maintainer: Josh Newans <josh.newans@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, python3-tk, ros-kilted-ament-copyright <!nocheck>, ros-kilted-ament-flake8 <!nocheck>, ros-kilted-ament-pep257 <!nocheck>, ros-kilted-rclpy, ros-kilted-sensor-msgs, ros-kilted-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-joy-tester
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-tk, ros-kilted-rclpy, ros-kilted-sensor-msgs, ros-kilted-ros-workspace
Description: Simple GUI tool for testing joysticks/gamepads
